.login-page{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
  }
  
  .login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  
  .card {
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 300px;
  }
  
  .textcenter {
	text-align: center;
	color: #333;
  }
  
  input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .btn-login {
	width: 100%;
	padding: 10px;
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .btn-login:hover {
	background-color: #2980b9;
  }
  
  .forgot-password {
	text-align: center;
	margin-top: 10px;
  }
  
  .forgot-password a {
	color: #3498db;
	text-decoration: none;
  }
  
  .forgot-password a:hover {
	text-decoration: underline;
  }
  