.dashboard-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
.rows {
  display: flex;
}
.rows-btn {
  margin-right: 10px;

  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.dashboard-content-container {
  margin: 1em;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: auto;
}
.dashboard-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-content-header h2 {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  font-size: xx-large;
  font-weight: 700;
}
.dashboard-content-search {
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.009em;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  border: 1px solid gray;
}
.dashboard-content-search:focus {
  outline: #2d83b5 auto 1px;
}
.dashboard-content-input {
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  border: 0px;
  box-sizing: content-box;
  background: none transparent;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  color: #000000;
  font-size: 0.75rem;
  padding: 0.625rem;
}
table {
  width: 100%;
  margin: auto;
}
th {
  text-align: left;
  padding: 12px 24px;
  background: transparent;
  box-shadow: none;
  color: #2d83b5;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.035em;
  border-bottom: 0.05rem solid rgb(240, 242, 245);
}
tbody {
  display: table-row-group;
}

tr,
thead {
  color: inherit;
  vertical-align: middle;
  outline: 0px;
}
td {
  text-align: left;
  padding: 12px 24px;
  background: transparent;
  box-shadow: none;
  border-bottom: 0.05rem solid rgb(240, 242, 245);
}
td div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-content-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}
td span {
  margin: 0px;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.035em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: gray;
  font-weight: 700;
}
.dashboard-content-icon {
  width: 20px;
  margin-right: 10px;
}
.dashboard-content-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dashboard-content-footer .pagination {
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 5px;
  background-color: #f0f2f5;
  cursor: pointer;
}
.dashboard-content-footer .active-pagination {
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2d83b5;
  cursor: pointer;
}
.empty-table {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.035em;
  color: gray;
  font-weight: 700;
  border-color: #ffffff;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="datetime-local"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #3498db;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #4a10ec;
}

input[type="submit"]:disabled {
  background-color: #ccc; 
  color: #999;
  cursor: not-allowed;
}

.addform {
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}
.action-btn-delete {
  position: flex;
  margin-right: 10px;

  padding: 8px 16px;
  background-color: #af4c4c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.action-btn-update {
  position: flex;

  padding: 8px 16px;
  background-color: #0004f7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.empty img {
  width: 500px;
}

.empty h1 {
  font-size: x-large;
  margin-bottom: 100px;
}

/* modal */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 30px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.loading-animate{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-role{
  display: flex;
  flex-direction: row;
  
}

.user-btn {
  position: flex;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: rgb(0, 169, 247);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:disabled {
  background-color: #ccc; 
  color: #999; 
  cursor: not-allowed;
}